* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    height: 100%;
    background-color: rgb(220, 241, 241);
  }
  
  .header {
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
  }
  
  .header-content {  
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 10px;
  }
  
  .list-text {
    font: normal normal bold 18px/20px Montserrat;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0px;
    color: green;
    text-transform: uppercase;
    padding-left: 10px;
  }
  .header-text {
    color:black;
  }
  
  /*Header Content*/

  .add-button {
    font: normal normal normal 22px/29px Roboto;
    font-weight: 400;
    letter-spacing: 1px;
    color: #ffffff;
    background: #ff8800 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
    padding: 5px 18px;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    display: flex;
}

.main-content {
    flex-direction: column;
    display: flex;
    min-height: calc(100vh - 80px);
    background-color: #f7f7f7;
    padding: 30px 0 10px;
    box-sizing: border-box;
}

.header-content-add {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 25px;
}

.add-details-text {
    text-align: left;
    font: normal normal bold 21px/25px Roboto;
    letter-spacing: 0px;
    color: #42515F;
    opacity: 1;
}

/*Table*/
/*UC3*/
.table-main {
    width: 80%;
    margin: 0 auto;
    overflow: auto;
  }
  
  .table {
    width: 60%;
    border-collapse: separate;
    border-spacing: 0 15px;
  }
  
  td {
    text-align: left;
    padding: 2px 1px;
  }
  
  th {
      background: #f7f7f7 0% 0% no-repeat padding-box;
      text-align: left;
      font: normal normal medium 15px/22px Roboto;
      letter-spacing: 0px;
      color: #ff8800;
      opacity: 1;
      border: 0px solid #dddddd;
      text-align: left;
  }
  
  td {
    font: normal normal normal 16px/22px Roboto;
    letter-spacing: 0px;
    color: #3D3D3D;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0px solid #E3E3E3;
    border-radius: 3px;
    opacity: 1;
  }
 
  